@import '/src/scss/variables';

.dayForecast {
  flex: 0 0 20%;
  text-align: center;
}

.day {

}

.icon {
  padding: 1rem 0;
  > img {
    width: 50px;
  }
}

.temperature {
  font-size: 1.25rem;
  color: $light-black;
}

@media screen and (min-width: 1024px) {
  .day {
  font-size: 1.25rem;
  }

  .icon {
    > img {
      width: 70px;
    }
  }
}