@import '/src/scss/variables';

.forecast {
  flex: 0 0 100%;
  height: 235px;
  padding: 25px 30px;
  border-bottom: 1px solid $light-black;
}

.header {
  color: $light-black;
}

.dayForecasts {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.loading {
  align-self: center;
  width: 100%;
  padding: 10px;
  background-color: $light-black;
  font-size: 40px;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .forecast {
    flex: 0 0 60%;
    height: auto;
    padding: 0 50px;
    border-bottom: none;
    border-left: 3px solid rgba(0,0,0,0.1);
  }

  .header {
    font-size: 1.8rem;
    letter-spacing: 3px;
  }

  .dayForecasts {
    margin-top: 40px;
  }
}
