.City {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
  font-size: 1rem;
}

.name {
  flex: 1 1 40%;
}

.temperature {
  flex: 0 0 30%;
}

.icon {

  > img {
    width: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .City {
    font-size: 1.25rem;
  }

  .icon {
    > img {
      width: 70px;
    }
  }
}