@import '/src/scss/variables';

.OtherInfo {
  padding: 30px 20px;
  color: $light-white;
}

.humidity,
.wind {
  display: inline-block;
  width: 50%;
  font-size: 1.3rem;

  > h4{
    margin: 0 0 5px;
  }

  > p {
    margin: 0;
  }
}

.humidity {
  border-right: 2px solid #fff;
}