@import '/src/scss/variables';

.otherCities {
  flex: 0 0 100%;
  padding: 25px 30px;
}

.header {
  color: $light-black;
}

.loading {
  width: 100%;
  padding: 10px;
  background-color: $light-black;
  font-size: 40px;
  color: #fff;
  text-align: center;
}

.citiesList {
  margin-top: 10px;
}

@media screen and (min-width: 1024px) {
  .otherCities {
    flex: 0 0 40%;
    order: -1;
    padding: 0px 50px;
  }

  .header {
    font-size: 1.8rem;
    letter-spacing: 3px;
  }
}