@import '../../scss/variables';

.loading {
  width: 100%;
  padding: 10px;
  font-size: 40px;
  text-align: center;
}

.white {
  background-color: $light-black;
  color: #fff;
}

.transparent {
  font-size: 80px;
  align-self: center;
}